/* $mainbackcolor: #121212;
$sidebarcolor: #040404;
$cardcolor: #282828; */

.outwrapper {
  height: 100vh;
  /* font-family: "Circular Spotify Tx T Black"; */
  font-family: "Roboto", sans-serif;
}

.App {
  height: calc(100vh - 90px);
  background-color: #121212;
  display: flex;
}

.unlogged * {
  margin: 0;
}
